.container-home {
    height: 100vh;
    background: linear-gradient(90deg, purple 20%, white);
    display: grid;
    grid-template-areas: "side side main main main";
}

.container-home div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.heading-side {
    grid-area: side;
}

.main-content {
    grid-area: main;
}