* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-home {
    height: 100vh;
    background: linear-gradient(90deg, rgba(15, 15, 15, 0.6)),
        url("https://tse4.mm.bing.net/th/id/OIP.8qfInx9J6fIDeIMYAFBbowHaED?cb=ucfimg2&ucfimg=1&rs=1&pid=ImgDetMain&o=7&rm=3");
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-template-areas: "side side main main main";
}

.container-home div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

.heading-side {
    width: 40%;
}

.getStarted-Btn {
    background-color: rgb(83, 155, 238);
    border: none;
    cursor: pointer;
}

.main-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.main-content p {
    text-align: justify;
    font-size: clamp(1rem, 3vh, 3rem);
}

.conference-event-main {
    position: absolute;
    overflow-x: hidden;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    transition: top 0.5s ease;
    overflow-y: auto;
    z-index: 2;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.conference-event-main.visible {
    top: 0;
}