.navbar {
    height: 70px;
    width: 100%;
    background-color: rgb(60, 50, 202);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    /* position: fixed; */
    top: 0;
}

.logo {
    margin-left: 20px;
}

nav ul {
    list-style-type: none;
    gap: 20px;
}

nav ul li {
    display: inline;
    margin: 5px;
}

nav ul li a {
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    cursor: pointer;
}

.showDetailsBtn {
    margin-right: 20px;
    background-color: rgb(7, 82, 57);
    border: none;

}


/* Conference Container */
.conference-main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    /* padding: 20px; */
    border-radius: 10px;
    margin: auto;
    width: 100%;
    margin-top: 20px;
    font-size: 16px;

}

.totalAmount {
    text-align: center;
    background-color: blue;
    border: 2px solid black;
    border-radius: 5px;
    margin: auto;
    margin-top: 5vh;
    width: 50%;
    height: 5vh;
    font-size: 3vh;
    font-weight: 600;
}

.event_items_box {
    width: 80%;
    /* height: 100vh; */
    /* padding-top: 10px; */
    /* margin-bottom: 20px; */
}

.event_items_heading {
    text-align: center;
    margin: 0 auto;
    width: 50%;
    background-color: aqua;
    color: black;
    border-radius: 5px;
    padding-top: 5px;
}

.event_items_selection {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    gap: 15px;
    /* height: 40%; */
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}


/* Venue Room Selection cards */
.venue_item_card,
.addOns_item_card {
    text-align: center;
    width: 300px;
    margin: auto;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.414);
    border-radius: 5px;
}

.venueImage img,
.addOnsImage img {
    width: 90%;
    border-radius: 5px;
}

.text,
.cost {
    padding-top: 5px;
}

.quantity {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

.checkPeopleCount {
    /* width: 80%; */
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.checkPeopleCount input {
    height: 35px;
    font-size: 30px;
}

.meals_container {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 300px;
    width: 600px;
    margin: auto;
    padding-bottom: 5px;
}

.meals_container label{
    width: 45%;
    display: flex;
    font-size: 30px;
    gap: 5px;
    align-items: center;
}

.meals_container label input{
    transform: scale(2);
}

.meals {
    height: 25%;
    width: 40%;
}

.btn-disabled {
    cursor: not-allowed;
}



/* Displaying Total Amount */
.totalAmountDisplay {
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    height: 100vh;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-size: 5vh;
    font-weight: 700;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}